.row
  .col-sm-offset-4.col-md-4
    %h1.text-center= t("users.password.title")
    %p= t("users.password.description")

    = simple_form_for @user, url: password_users_path, wrapper: :horizontal_form,
      html: { class: "form-horizontal", role: "form", id: "password" } do |f|
      = f.input :email, required: true
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.button :submit, "Reset my password"

    = link_to t("users.shared.link_login"), login_path
    = link_to t("users.shared.link_signup"), signup_path
