%h1= t("users.password_reset.title")

= simple_form_for @user, url: password_reset_users_path, method: :patch,
  wrapper: :horizontal_form, html: { class: "form-horizontal", role: "form",
    id: "password_reset" } do |f|
  = f.input :token, input_html: { value: @token }, as: :hidden
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  .form-group
    .col-sm-offset-3.col-sm-9
      = f.button :submit, t("users.password_reset.action")
