.row
  .col-sm-offset-4.col-md-4
    %h1.text-center= t("users.session.title")

    = simple_form_for @user, url: login_path, wrapper: :horizontal_form,
      html: { class: "form-horizontal", role: "form", id: "session" } do |f|
      = f.input :login
      = f.input :password
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.button :submit, t("users.session.action"), class: "btn-primary"

    = link_to t("users.shared.link_signup"), signup_path
    = link_to t("users.shared.link_password"), password_users_path
